.main {
    width: 100%;
    background-color: #F1F1F1;
    height: 100%;
    overflow: hidden;

    background-repeat: no-repeat;
    background:url("/SVG/whitebackground2.svg");
    background-color: #F1F1F1;
    background-size: cover;
    background-position: center;
}
/**********************************/

.section {
    padding: 40px 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*************************************/
@keyframes bodyanimate {
    0%   {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
  }

.mainBody {
    max-width: 1200px;
    padding: 10px;
    height: 100%;
    display: flex;
    animation-name: bodyanimate;
    animation-duration: 2s;
    justify-content: center;
    align-items: center;
}

/**************************************/




.bodyContent {
    width: 50%;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

/* 
.bodyContent1 {
    
} */



/*******************************************/



.bodyImage {
    width: 50%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    margin: 10px;
}


/**************************************/

.image {
    width: 500px;
}


/********************************************/

.titleBody {
    color: #C51111;
    font-size: 40px;
    margin: 0px;
 }

 /********************************************/
 
.textBody{
    color: #C51111;
    font-weight: 400;
}

 /********************************************/


.buttonContainer{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}


.buttonBox{
    margin: 0px 10px 0px 0px;
    cursor: pointer;
    padding: 5px 30px;
    transition: 0.5s;
    border-radius: 40px;
    background: #C51111;
    display: flex;
    align-items: center;
}

.buttonBox2{
    margin: 0px 10px 0px 0px;
    cursor: pointer;
    padding: 5px 30px;
    transition: 0.5s;
    border: 2px solid #C51111;
    border-radius: 40px;
    display: flex;
    align-items: center;
}

.buttonBox2:hover {
    transition: 0.5s;
    border: 2px solid #C51111;
    background: #c92424
}

.buttonBox:hover {
    transition: 0.5s;
    background-position: 100% 50%;
}
/****************************************/

.buttonFont{
    color: #C51111;
    transition: 0.5s;
    margin: 0px;
    font-size: 20px;
    font-weight: 400;
}

.buttonFontSpecial{
    color: #f1f1f1;
    transition: 0.5s;
    margin: 0px;
    font-size: 20px;
    font-weight: 500;
}


/****************************************/

/****************************************/




@media only screen and (max-width: 1000px) {
    /****************************************/
    .section {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    /****************************************/

    .mainBody{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 100px 0px;
    }

    /*********************************************/

    .bodyContent {
        width: 95%;
        height: 60%;
        justify-content: center;
        text-align: center;
    }
    
    
    /*********************************************/

    .bodyImage{
        width: 200px;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /********************************************/

    .buttonContainer{
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .image {
        width: 400px;
    }
    
  }

  

  @media only screen and (max-width: 500px) {
    .main {
        
    }
    .section {
        padding-top: 20px;
        padding-bottom: 0px;
    }
    /********************************************/

    .mainBody{
        height: 100%;
        padding: 5px;
        margin: 100px 0px;
    }

    
    /********************************************/

    .bodyContent {
        width: 95%;
        
    }
    .bodyImage {
        width: 150px;
    }

    /********************************************/
    .titleBody {
        font-size: 22px;
     }


    /********************************************/

    .textBody{
        font-size: 17px;
    }

    /********************************************/


    .buttonFont{
        font-size: 18px;
        transition: 0.1s;
    }

    .buttonFontSpecial{
        font-size: 18px;
        transition: 0.1s;
    }

    /********************************************/

    

    
    .buttonFont:hover{
        transform: none;
    }

    .buttonFontSpecial:hover{
        transform: none;
    }

    .buttonContainer{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .buttonBox{
        margin: 5px 0px ;
        width: 100%;
        max-width: 200px;
        display: flex;
        justify-content: center;
    }

    .buttonBox2{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 5px 0px;
        max-width: 200px;
    }
    .image {
        width: 300px;
    }
    

  }